page-video-call {
  #videos {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #DDD;
  }
  #subscriber {
    position: absolute;
    width: 70px !important;
    height: 100px !important;
    right: 15px;
    bottom: 20px;
    z-index: 100;
    border-radius: 3px;
  }
  #publisher {
    border: 3px solid white;
    width: 320px !important;
    height: 400px !important;
    margin: 14px auto;
    z-index: 10;
  }
}
